*,::after, ::before{
 margin:0;
 padding:0;
 box-sizing: border-box;
}
:root{
 --primary-color:#000000;
 --secondary-color:#ffff;
 --terrtiary-color:#ccc;
 --footer-color:#616161;
 --subscribe-color:#e1071c;
 --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
 width: 100%;
 font-family: var(--font-family);
 background:var(--terrtiary-color);
}
header{
 width:100%;
 background: var(--primary-color);
}
nav{
 width:100%;
 display:flex;
 justify-content: space-between;
 align-items: center;
}
#social-icons{
 display: flex;
}
#social-icons .icons ,#search-icon {
 padding:10px;
 display: flex;
 justify-content: center;
 align-items: center;
}
#social-icons .icons:hover ,#search-icon:hover{
 background:var(--terrtiary-color)
} 
.icons:hover svg,#search-icon:hover svg{
 fill:var(--primary-color);
}

header  svg{
 fill:var(--secondary-color);   
}
main{
 width: 100%;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.hero{
 width: 100%;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
}
.hero container{
 padding:60px;
 text-align: center;
 background: var(--secondary-color);
}
.container h1{
 color:var(--primary-color);
 text-transform: uppercase;
 letter-spacing: -2px;
 font-weight: bold;
 font-size: 3rem;
 margin-bottom: 20px;
}

.container p{
 font-weight:bold;
}
.container p span{
 background: var(--primary-color);
 color:var(--secondary-color);
 padding:5px 5px 2px 5px;
}
#hero img{
 max-width:100%;
 height:auto;
}
#picture{
 height:100vh;
 background-image: url('./assets/jane.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 padding:20px;
 display: flex;
 justify-content:flex-start;
 align-items:end;
}
#picture .name{
 width:50% !important;
 margin-bottom:5rem;   
}
.name h3{
 text-transform: capitalize;
 letter-spacing: 2px;
 font-size: 1.5rem; 
 margin-bottom: 10px; 
 color:var(--secondary-color) 
}
.name h3 span{
 text-transform: uppercase;
 font-weight:bold;
 font-size: 3rem;
}
.name button{
 width:30%;
 padding:15px;
 border: 1px solid transparent;
 font-size:18px;
 font-weight: 600;
 text-transform: uppercase;
 background: #cccccc97;
 cursor: pointer;
}
.name button:hover{
 background: #e1dcdcb7;
}
#recent-posts{
 width: 100%;
 display: flex;
 border:1px solid var(--footer-color);
 border-top: unset;
}
#recent-posts #post-holder{
 flex:2;
 width:60%;
 padding:20px;
 display: flex;
 flex-direction: column;
 gap:30px;
 align-items: center;
 margin-left:20px;
}
#post-holder .post-cards{
 background: var(--secondary-color);
 display: flex;
 flex-direction: column;
 gap:25px;
 padding:20px;
 text-align: center;

}
hr{
 background:#e3e2e2 ;
}
.post-cards:first-child #author{
 width:100%;
 display: flex;
 gap:20px;
 margin-bottom:10px;
}
#author .author-img{
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
}
#author .author-name{
 text-align: left;
 padding-top:10px;

}
.author-name span{
 color:var(--footer-color);
 font-size: 14px;
 
}

.post-cards h2{
 margin-bottom:15px;
 font-size: 20px;
}
.post-cards h4{
 font-size: 16px;
}
.post-cards h4 span{
 color:var(--footer-color)

}
.post-cards #text{
 text-align: left;
}
.post-cards .buttons{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.buttons .like{
 border:1px solid var(--footer-color);
 display: flex;
 justify-content: center;
 align-items: center;
 gap:5px;
 background: transparent;
 padding:10px;
 font-weight: bold;
 cursor: pointer;
}
.buttons .like:hover{
 background: var(--terrtiary-color);
 border:1px solid transparent;
}
.buttons .reply{
 width:fit-content;
 border:1px solid var(--primary-color);
 display: flex;
 justify-content: center;
 align-items: center;
 gap:10px;
 background: var(--primary-color);
 color:var(--secondary-color);
 padding:10px;
 font-weight: bold;
 cursor: pointer;
}
.buttons .reply .number-holder{
 background: var(--secondary-color);
 color:var(--primary-color);
 padding:5px 10px;
 font-weight: lighter;
}
.buttons .reply:hover{
 background: #d9d9d9;
 color:var(--primary-color);
 border:1px solid transparent;
}
